<!-- <div class="container ">
    <div class="row content">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <div class="module-title-2">
                        <h2>TIKI ONLINE</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="section-overpower">
                    <div class="module-title"></div>
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    <h2>
                        <span>HOT ITEMS</span>
                    </h2>
                </div>

            </div>
        </div>
    </div>
</div> -->