<header>
    <div class="container header">
        <div class="header-main">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <img src="https://bizweb.dktcdn.net/100/177/708/themes/684336/assets/phuthaitech_logo.svg?1620288795990" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="search">
                        <div class="header-search">
                            <form action="input-group search-bar search_form">
                                <input type="search" name="query" value="" placeholder="Tìm kiếm ... " class="input-group" autocomplete="off">
                            </form>
                            <span class="input-group-btn">
                                <div class="btn-icon">
                                    <i class="fas fa-search"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="header-cart-contain">

                        <div class=" cart-container ">

                            <div class="cart-container-title ">
                                <a href=" " class="cart-container__text ">
                                    (<span>0</span>) sản phẩm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-nav></app-nav>
</header>