<div class="row top-bar">
    <div class="container top-bar">
        <div class="topbar-left">
            <ul class="list-line">
                <li>Đăng kí &nbsp; | &nbsp; </li>
                <li>Đăng nhập</li>
            </ul>
        </div>
        <div class="topbar-right">
            <div class="header-contact">
                <div class="contact-email">
                    <span>
                        <i class="fas fa-envelope-square"></i>
                    </span>
                    <a>sales@phuthaitech.com </a>
                </div>
                <div class="contact-phone">
                    <span>
                        <i class="fas fa-phone"></i>

                    </span>
                    <a>+84 28 6267 3001</a>
                </div>
            </div>
        </div>
    </div>
</div>