.top-bar {
    display: flex;
    background: linear-gradient( 120deg, #f25112 50%, #383838 50%);
    text-align: center;
    height: 36px;
    line-height: 36px;
}

.topbar-left {
    flex: 1;
}

.topbar-left ul {
    display: flex;
    list-style-type: none;
    color: white;
    float: left;
}

.topbar-left ul li {
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 11px;
}

.topbar-right {
    flex: 1;
}

.header-contact {
    display: flex;
    float: right;
    color: white;
    width: 100%;
}

.contact-email {
    display: flex;
    text-align: right;
    float: left;
    width: 66.67%;
    margin-left: 35%;
}

.contact-email span {
    border-radius: 50%;
    border: #fff 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    margin-top: 3px;
}

.contact-email span i {
    display: block;
    font-size: 13px;
    line-height: 30px;
}

.contact-email a {
    color: inherit;
    text-decoration: none;
    font-size: 11px;
}

.contact-phone {
    display: flex;
    text-align: right;
    float: left;
    width: 66.67%;
    margin-left: 15%;
}

.contact-phone span {
    border-radius: 50%;
    border: #fff 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    margin-top: 3px;
}

.contact-phone span i {
    display: block;
    font-size: 13px;
    line-height: 30px;
}

.contact-phone a {
    color: inherit;
    text-decoration: none;
    font-size: 11px;
}